<h1>My First Angular 2 App</h1>
      <div>
        <div class='wrapper'>
          <div class='container' [dragula]='"first-bag"'>
            <div>Drag/drop item 1</div>
          </div>
          <div class='container' [dragula]='"second-bag"'>
            <div>Drag/drop item 2</div>
          </div>
            <div class='container' [dragula]='"third-bag"'>
            <div>Drag/drop item 2</div>
          </div>
            <div class='container' [dragula]='"fourth-bag"'>
            <div>Drag/drop item 2</div>
          </div>
            <div class='container' [dragula]='"fifth-bag"'>
            <div>Drag/drop item 2</div>
          </div>
            <div class='container' [dragula]='"sixth-bag"'>
            <div>Drag/drop item 2</div>
          </div>
        </div>
      </div>